@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Sen:700&display=swap');

body{
  background-color: #F7F9FC;
}

h1{
  color: #57639D;
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: bold;
}

.card-white{
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 500px;
  padding: 24px;
  margin: 24px auto;
}

ul{
  padding-inline-start: 0;
}

.container{
  text-align: center;
}

#horizontal-list li{
    display: inline;
    font-size: xx-large;
    padding: 10px;
  }

#horizontal-list li a:hover{
  opacity: 0.6;
  }

img{
  border-radius: 50%;
}

p {
  color: #8B8795;
  font-family: 'Sen', sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.button{
  font-family: 'Sen', sans-serif;
  background-color: #6A72E1;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  text-decoration: none;
}

.button:hover{
  background-color: #6c5ce7;
  color: #fdcb6e;
  opacity: 0.8;
}

h2{
  color: #00b894;
  font-family: 'Sen', sans-serif;
}
